:root {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body script[type=katex] {
    display: block;
    font-size: 0;
    min-height: 5rem;
    min-width: 5rem;
    background-color: currentColor;
    opacity: 0.2;
}

body script[type=katex][data-inline] {
    display: inline-block;
    min-height: 1rem;
}

math[display=block] {
    margin-block: 1rem;
}

.col3 {
    display: grid;
    grid-template-columns: min-content auto 1fr;
    gap: 0.5rem 2rem;
    margin-block: 0.5rem;
}

.col3 > h4 {
    grid-column: 1 / span 3;
    margin-block: 0.5rem;
}

.katex-error {
    color: crimson;
    opacity: 0.6;
}

input:invalid {
    color: crimson;
}

.form-dependent-field {
    outline: solid 1px chocolate;
}

.input-wrapper {
    display: inline-flex;
    gap: 0.5rem;
}

/* Cosmetic */

fieldset {
    border: 2px solid green;
    border-radius: 0.5rem;
}
