@use "sass:math";
@use "sass:map";

$icons: (
  voltage: 0,
  current: 1,
  resistor: 2,
  capacitor: 3,
  inductor: 4,
  diode: 5,
  transistor: 6,
  voltage-ripple: 8,
  current-ripple: 9,
  time: 10,
  pwm: 11,
  unlocked: 16,
  locked: 17,
);

@function icon-position($id) {
  $x: ($id % 8 * math.div(100%, 7));
  $y: (math.floor(math.div($id, 8)) * math.div(100%, 7));
  @return $x $y;
}

.icon {
  aspect-ratio: 1;
  background-image: url(./icons_64.png);
  background-repeat: no-repeat;
  background-size: 800%;
  background-position: (icon-position(63));

  @each $name in map.keys($icons) {
    &.i-#{$name} {
      background-position: (icon-position(map.get($icons, $name)));
    }
  }
}
